<template>
  <div>
    <div class="field field-label">
      <label class="checkbox label">
        Cette compétence doit être étalée sur plus d'une session: <input type="checkbox" id="plusdunesession" v-model="plusDuneSession" @change="putPlusDuneSession">
      </label>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import BCheckbox from 'buefy/src/components/checkbox/Checkbox';

  export default {
    components: { BCheckbox },
    props: ['idComp', 'sessionComp'],
    data() {
      return {
        plusDuneSession: '',
      };
    },
    methods: {
      putPlusDuneSession() {
        axios({
          method: 'PUT',
          url: `/api/Competences/${this.idComp}/PlusDUneSession`,
          headers: {
            Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
          },
          dataType: 'json',
          contentType: 'application/json; charset=utf-8',
          data: {
            Code: '1000000000',
            Enonce: 'dsa',
            Obligatoire: false,
            PlusDUneSession: this.plusDuneSession,
          },
        }).then(() => {
          this.$parent.updateDBPopup('is-success', null);
        });
      },
    },
    watch: {
      sessionComp(value) {
        if (value === null) {
          this.plusDuneSession = false;
        } else {
          this.plusDuneSession = value;
        }
      },
    },
    created() {
      const plusDuneSessionALaCreationComposant = this.sessionComp;
      this.plusDuneSession = plusDuneSessionALaCreationComposant;
    },
  };
</script>
