<template>
  <div>
    <profil-control></profil-control>
  </div>
</template>

<script>
  import ProfilControlPanel from '@/components/form/profil/ProfilControlPanel';

  export default {
    components: {
      'profil-control': ProfilControlPanel,
    },
  };
</script>
