<template>
  <div v-if="show">
    <div id="logigramme">
      <div class="columns has-text-centered">
        <div class="column box is-radiusless is-marginless is-2" v-for="(n, index) in cibles" :key="n.Id">
          <h5 class="title is-5 is-special-section"> {{ n.Session }} </h5>
          <div class="has-text-centered" style="width:100%;" :key="n.Id">

            <div :id='"div-enonce-" + n.Id' :myindex="index"
                  :data-balloon="n.Enonce" data-balloon-length="large" data-balloon-pos="down">
              <p class="is-special-p is-special-section">
                {{ n.Enonce }}
              </p>
            </div>

            <draggable :id="index" @end="endMove" :move="checkMove"
                        v-model="listeCoursObject[index]"
                        :class="{'is-expandable': activeMinHeightIfSomethingInLists }"
                        :options="{group: 'cours', ghostClass: 'ghost', animation: 1}">
              <div v-for="cours in listeCoursObject[index]"
                    class="card is-radiusless has-addons
                    item is-marginless is-borderless" :key="cours.Id"
                    @mouseover="cours.showIcons = true" @mouseout="cours.showIcons = false">
                <div class="card-content">
                  <div  class="content">
                    <div class="tile is-ancestor">
                      <div class="tile is-parent has-text-left is-paddingless">
                        <div class="tile is-child">
                          {{ cours.Cour.Sigle }} - {{ cours.Cour.Titre }}
                        </div>
                      </div>
                      <div class="tile is-parent is-vertical is-paddingless"
                        v-bind:class="{ 'is-3': cours.Cour.Titre.length > 20, 'is-4': cours.Cour.Titre <= 20 }">
                        <div class="tile is-child has-text-right">
                          <a class="icon is-medium button" @click="editCours(cours.Cour, index + 1)"
                            v-bind:class="{ 'icon-v': cours.Cour.Titre.length > 20, 'invisible': !cours.showIcons }">
                            <i class="fa fa-pencil-square-o is-info"></i>
                          </a>
                          <a class="icon is-medium button" @click="removeCours(cours.CoursProfil.Id, index + 1)"
                            v-bind:class="{ 'invisible': !cours.showIcons }">
                            <i class="fa fa-trash is-danger"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <footer class="card-footer">
                  <span class="card-footer-item is-paddingless" v-for="comp in cours.ListeCompetences" :key="comp.Id">{{ comp.Code }}</span>
                </footer>
              </div>
            </draggable>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import draggable from 'vuedraggable';
  // import focus from 'vue-focus';

  export default {
    props: ['idProfil', 'afficher', 'actualiser', 'show', 'sessionAjouter'],
    components: {
      draggable,
    },
    data() {
      return {
        idP: '',
        listeCoursObject: {
          0: [],
          1: [],
          2: [],
          3: [],
          4: [],
          5: [],
        },
        listeCoursExistant: [],
        listObjectRealtedContext: [],
        coursProfil: {},
        cibles: [],
        boolIsSomethingInLists: false,
      };
    },
    methods: {
      letStartComponent() {
        this.getCiblesFromAPI(this.idP);
        this.getCoursProfil(this.idP);
      },
      clearCibles() {
        this.cibles = [];
      },
      getCiblesFromAPI(id) {
        this.clearCibles();
        axios.get(`/api/CiblesParIdProfil/${id}`,
          {
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
          })
          .then((response) => {
            if (response.data !== null) {
              for (let i = 0; i < response.data.length; i += 1) {
                if (!response.data[i].Session) {
                  response.data[i].Session = '...';
                }
                if (!response.data[i].Enonce) {
                  response.data[i].Enonce = '...';
                }
                this.cibles.push(response.data[i]);
              }
            }
          });
      },
      addCours(session) {
        this.$emit('creerCours', true, session);
      },
      removeCours(id, session) {
        this.$emit('DeleteCours', true, id, session);
      },
      editCours(cours, session) {
        this.$emit('ModifierCours', true, cours, session);
      },
      getCoursProfil(id) {
        for (let i = 0; i < 6; i += 1) {
          this.listeCoursObject[i] = [];
        }
        axios.get(`/api/GetCoursProfils/${id}`,
          {
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
          }).then((response) => {
            for (let i = 0; i < response.data.length; i += 1) {
              let session = response.data[i].CoursProfil.Session - 1;
              session = session < 0 ? 0 : session;
              const cours = response.data[i];
              cours.showIcons = false;
              this.listeCoursObject[session].push(cours);
            }
            this.$emit('actu', false);
          }).then(() => {
          // TODO competence
          /*
          Object.keys(this.listeCoursObject).forEach((k) => {
            this.listeCoursObject[k].forEach((e) => {
              if (Object.prototype.hasOwnProperty.call(e, 'Cours')) {
                const listComp = [];
                axios.get(`/api/GetActiviteCompetence/${e.Activite.Id}`).then((response) => {
                  for (let i = 0; i < response.data.length; i += 1) {
                    listComp.push(response.data[i]);
                  }
                });
                e.listComp = listComp;
              }
            });
          }); */
            this.sortListes();
          }).then(() => {
          });
      },
      addCoursExistant(session) {
        axios.get(`/api/GetCoursBySession/${session}/${this.idProfil}`,
          {
            headers: {
              Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
            },
          }).then((response) => {
            this.listeCoursExistant = [];
            for (let i = 0; i < response.data.length; i += 1) {
              this.listeCoursExistant.push(response.data[i]);
            }
            this.$emit('listeCoursExistant', this.listeCoursExistant);
          });
      },
      checkMove(evt) {
        if (evt.relatedContext.list !== undefined || evt.relatedContext.list !== null) {
          this.listObjectRealtedContext = evt.relatedContext.list;
        }
        this.coursProfil = evt.draggedContext.element;
      },
      endMove(evt) {
        const idOfColumnFrom = evt.from.id;
        const idOfColumnTo = evt.to.id;
        const sessionPourPut = parseInt(idOfColumnFrom) + 1;
        const idInt = parseInt(idOfColumnTo);
        axios({
          method: 'PUT',
          url: `/api/UpdateCoursProfilsMove/${this.coursProfil.CoursProfil.Id}`,
          headers: {
            Authorization: `bearer ${JSON.parse(localStorage.getItem('token')).access_token}`,
          },
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          data: {
            IdProfil: this.idProfil,
            AncienneSession: sessionPourPut,
            NouvelleSession: idInt + 1,
            AnciennePositionVerticale: evt.oldIndex,
            NouvellePositionVerticale: evt.newIndex,
          },
        }).then(() => {
          this.$parent.updateDBPopup('is-success', null);
        });
      },
      sortListes() {
        Object.keys(this.listeCoursObject).forEach((k) => {
          this.listeCoursObject[k]
            .sort((a, b) => a.CoursProfil.PositionVerticale - b.CoursProfil.PositionVerticale);
        });
      },
    },
    created() {
    },
    computed: {
      activeMinHeightIfSomethingInLists() {
        let bool = false;
        Object.keys(this.listeCoursObject).forEach((v) => {
          if (this.listeCoursObject[v].length !== 0) {
            bool = this.listeCoursObject[v].length !== 0;
          }
        });
        return bool;
      },
    },
    watch: {
      idProfil(value) {
        this.idP = value;
        this.getCoursProfil(this.idP);
        this.getCiblesFromAPI(this.idP);
      },
      actualiser(value) {
        if (value) {
          this.getCoursProfil(this.idP);
          this.getCiblesFromAPI(this.idP);
        }
      },
      sessionAjouter(value) {
        this.addCoursExistant(value);
      },
    },
  };
</script>

<style scoped lang="scss">

  .is-special-section{
    margin-bottom: .6rem;
  }

  .is-special-p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 38ch;
    /*max-width: min-content;*/
    /*width: 5%;*/
    /*max-width: 5%;*/
    padding-left: .3rem;
    padding-right: .3rem;
  }

  .has-text-centered-vertically{
    text-align: center;
    vertical-align: middle;
    line-height: 215%;
  }

  .is-expandable{
    min-height: 4rem;
  }

  .is-expandable-on-hover:hover{
    min-height: 3rem;
  }

  .card-content {
    padding: 20px;
    min-height: 48px;
  }

  .icon-v {
    margin-bottom: 4px;
  }

  .invisible {
    visibility: hidden;
  }

</style>
